.layer-1 {
  background-color: var(--neutral-layer-1-background);
  color: var(--neutral-layer-1-text);
  border: var(--space-xxs) solid var(--neutral-layer-1-border);
  padding: var(--space-sm);
}

.layer-2 {
  background-color: var(--neutral-layer-2-background);
  color: var(--neutral-layer-2-text);
  border: var(--space-xxs) solid var(--neutral-layer-2-border);
}

.layer-3 {
  background-color: var(--neutral-layer-3-background);
  color: var(--neutral-layer-3-text);
  border: var(--space-xxs) solid var(--neutral-layer-3-border);
}

.layer-4 {
  background-color: var(--neutral-layer-4-background);
  color: var(--neutral-layer-4-text);
  border: varvar(--space-xxs) solid var(--neutral-layer-4-border);
}
