.card-lg {
  margin-right: var(--space-sm);
  margin-left: var(--space-sm);
  padding: var(--space-md) var(--space-sm);
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  flex-wrap: wrap;
  border: 1px solid red;
  color: var($color-red-700);
}

.full-card p {
  font-size: var(--text-lg);
}

.card-xl {
  margin: var(--space-md);
  padding: var(--space-md);
  border: 1px solid red;
  color: var($color-red-700);
}

.card-xl span {
  font-size: var(--text-xxxl);
}

.card-sm {
  margin: var(--space-sm);
  padding: var(--space-sm);
  border: 1px solid red;
}

.card-sm p {
  font-size: var(--text-sm);
}
