.playing-card-lg {
  margin-right: var(--space-sm);
  margin-left: var(--space-sm);
  padding: var(--space-md) var(--space-sm);
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  flex-wrap: wrap;
  border: 1px solid var(--color-primary-light);
  color: var(--color-primary-light);
}

.playing-card-lg p {
  font-size: var(--text-lg);
}

.playing-card-xl {
  margin: var(--space-md);
  padding: var(--space-md);
  border: 1px solid var(--color-primary-light);
  color: var(--color-primary-light);
}

.playing-card-xl span {
  font-size: var(--text-xxxl);
}

.playing-card-sm {
  margin: var(--space-sm);
  padding: var(--space-sm);
  border: 1px solid var(--color-primary-light);
}

.playing-card-sm p {
  font-size: var(--text-sm);
}
