.player-name {
  font-size: var(--text-md);
}

.card-count {
  font-size: var(--text-xs)
}

.book-list {
  font-size: var(--text-xs);
}

.player-info {
  padding: var(--space-sm);
  background-color: var(--neutral-layer-2-background);
  color: var(--neutral-layer-2-text);
  border: var(--space-sm) solid var(--neutral-layer-2-border);
}

.hidden-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}
